button, .btn {
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    border-color: transparent;
    padding: 10px 20px;
    font-family: $font-nav;
    letter-spacing: .1em;
    &:focus, &:hover {
        opacity: .8;
        border-color: transparent !important;
        box-shadow: none !important;
    }
    &.btn-primary {
        background-color: $color-blue;
        &:hover {
            background-color: $color-blue !important;
        }
    }
    &.btn-secondary {
        background-color: $color-green;
        &:hover {
            background-color: $color-green !important;
        }
    }
    &#m-nav {
        display: none;
        position: absolute;
        top: 50%;
    }
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    left: inherit;
    right: 5px;
    top: 50%;
    opacity: 1;
    ul li {
        a {
            span {
                background: $color-blue;
                border: $color-white solid 1px;
                border-radius: 100%;
            }
            &.active {
                span {
                    background: $color-orange;
                    border: 0;
                }
            }
        }
        .fp-tooltip {
            text-transform: capitalize;
            color: $color-l-grey;
            font-family: $font-nav;
            font-weight: 700;
            letter-spacing: .1em;
        }
    }
}
@media only screen and (max-width: $breakpoint-phone-l) {
    button#m-nav {
        display: block;
    }
}