.video-holder {
    display: none;
    z-index: 10;
    & video {
        pointer-events: none;
    }
    & .video-js {
		height: 100%;
		max-height: 100vh;
    }
}
.video-js .vjs-tech {
	max-height: 100vh !important;
}
.vjs-control-bar * {
    color: white;
    font-size: 10px;
}