@-webkit-keyframes rotateInUpLeft { 
    0% { 
        -webkit-transform-origin: left bottom; 
        -webkit-transform: rotate(90deg); 
        opacity: 0; 
    } 
    100% { 
        -webkit-transform-origin: left bottom; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
} 
@keyframes rotateInUpLeft { 
    0% { 
        transform-origin: left bottom; 
        transform: rotate(90deg); 
        opacity: 0; 
    } 
    100% { 
        transform-origin: left bottom; 
        transform: rotate(0); 
        opacity: 1; 
    } 
} 
.rotateInUpLeft { 
    -webkit-animation-name: rotateInUpLeft; 
    animation-name: rotateInUpLeft; 
}

/* Feel free to change duration  */ 
.animated  {
    -webkit-animation-duration : 1000 ms  ;
    animation-duration : 1000 ms  ;
    -webkit-animation-fill-mode : both  ;
    animation-fill-mode : both  ;
}  
/* .owl-animated-out - only for current item */ 
/* This is very important class. Use z-index if you want move Out item above In item */ 
.owl-animated-out {
    z-index : 1 
}
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */ 
.owl-animated-in {
    z-index : 0 
}
.fadeOut  {
    -webkit-animation-name : fadeOut  ;
    animation-name : fadeOut  ;
}  
@-webkit-keyframes fadeOut  {
    0% {
        opacity : 1   ;
    }  
    100% {
        opacity : 0   ;
    }  
    }
    @keyframes  fadeOut  {
    0% {
        opacity : 1   ;
    }  
    100% {
        opacity : 0   ;
    }  
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}
@-webkit-keyframes border {
    0%, 24% {
        border-color: transparent;
    }
    25% {
        border-top-color: $color-l-grey;
    }
    49% {
        border-right-color: transparent;
    }
    50% {
        border-right-color: $color-l-grey;
    }
    74% {
        border-bottom-color: transparent;
    }
    75% {
        border-bottom-color: $color-l-grey;
    }
    99% {
        border-left-color: transparent;
    }
    100% {
        border-color: $color-l-grey;
    }
}
@keyframes border {
    0%, 24% {
        border-color: transparent;
    }
    25% {
        border-top-color: $color-l-grey;
    }
    49% {
        border-right-color: transparent;
    }
    50% {
        border-right-color: $color-l-grey;
    }
    74% {
        border-bottom-color: transparent;
    }
    75% {
        border-bottom-color: $color-l-grey;
    }
    99% {
        border-left-color: transparent;
    }
    100% {
        border-color: $color-l-grey;
    }
}
@-webkit-keyframes border-after {
    0% {
        height: 5px;
        width: 0;
        top: -5px;
        left: -5px;
        right: auto;
        bottom: auto;
    }
    24.99% {
        width: calc(100% + 10px);
        height: 5px;
        top: -5px;
        left: -5px;
        right: auto;
        bottom: auto;
    }
    25% {
        width: 5px;
        height: 0;
        top: -5px;
        right: -5px;
        left: auto;
        bottom: auto;
    }
    49.99% {
        width: 5px;
        height: calc(100% + 10px);
        top: -5px;
        right: -5px;
        left: auto;
        bottom: auto;
    }
    50% {
        width: 0;
        height: 5px;
        bottom: -5px;
        right: -5px;
        top: auto;
        left: auto;
    }
    74.99% {
        width: calc(100% + 10px);
        height: 5px;
        bottom: -5px;
        right: -5px;
        top: auto;
        left: auto;
    }
    75% {
        width: 5px;
        height: 0;
        bottom: -5px;
        left: -5px;
        right: auto;
        top: auto;
    }
    100% {
        width: 5px;
        height: calc(100% + 10px);
        bottom: -5px;
        left: -5px;
        right: auto;
        top: auto;
    }
}
@keyframes border-after {
    0% {
        height: 5px;
        width: 0;
        top: -5px;
        left: -5px;
        right: auto;
        bottom: auto;
    }
    24.99% {
        width: calc(100% + 10px);
        height: 5px;
        top: -5px;
        left: -5px;
        right: auto;
        bottom: auto;
    }
    25% {
        width: 5px;
        height: 0;
        top: -5px;
        right: -5px;
        left: auto;
        bottom: auto;
    }
    49.99% {
        width: 5px;
        height: calc(100% + 10px);
        top: -5px;
        right: -5px;
        left: auto;
        bottom: auto;
    }
    50% {
        width: 0;
        height: 5px;
        bottom: -5px;
        right: -5px;
        top: auto;
        left: auto;
    }
    74.99% {
        width: calc(100% + 10px);
        height: 5px;
        bottom: -5px;
        right: -5px;
        top: auto;
        left: auto;
    }
    75% {
        width: 5px;
        height: 0;
        bottom: -5px;
        left: -5px;
        right: auto;
        top: auto;
    }
    100% {
        width: 5px;
        height: calc(100% + 10px);
        bottom: -5px;
        left: -5px;
        right: auto;
        top: auto;
    }
}