::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: $color-grey; 
}
::-webkit-scrollbar-thumb {
    background: $color-grey;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: $color-grey; 
}
input:focus,
select:focus,
select:active, 
select:hover,
textarea:focus,
button:focus,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none !important;
}
input:focus {
    outline: 0;
}
ul {
    list-style: none;
    padding-left: 0;
}
a:hover {
    text-decoration: none;
}
#root {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    .container {
        margin-top: 0;
        position: relative;
        height: 100%;
        top: 0;
        .row {
            position: relative;
            padding-top: 100px;
        }
        &.full {
            padding: 0;
            max-width: none;
            width: 100vw;
            height: 100vh;
        }
    }
    .scroller_header {
        position: fixed;
        left: 0;
        top: 0;
        padding: 0;
        height: 2px;
        width: 100%;
        background: $color-transp;
        z-index: 100;
        #scroll-line {
            height: 2px;
            margin-bottom: -2px;
            background: $color-orange-op9;
            width: 0%;
        }
    }
    header {
        background-color: $color-transp;
        width: 100vw;
        height: 100px;
        padding: 10px;
        display: block;
        position: absolute;
        z-index: 9;
        top: 0;
        .logo {
            position: absolute;
            display: block;
            left: 5vw;
            width: 17vw;
            max-width: 200px;
            height: 60px;
            top: 50%;
            margin-top: -30px;
            opacity: 0;
            z-index: 2;
            img {
                height: 100%;
            }
        }
        nav {
            &.main-menu-container {
                position: relative;
                display: block;
                top: 50%;
                height: 40px;
                margin-top: -20px;
                ul {
                    position: relative;
                    margin: 0 auto;
                    display: block;
                    top: calc(50% - .9vw);
                    width: calc(50vw - 1.7vw);
                    li {
                        float: left;
                        margin-right: 1.7vw;
                        position: relative;
                        a {
                            font-size: 1.8vw;
                            line-height: 1.8vw;
                            font-weight: 700;
                            font-family: $font-nav;
                            transition: opacity .1s ease;
                            text-transform: capitalize;
                            color: $color-white;
                            &:hover {
                                opacity: .9;
                                color: $color-white-op9;
                            }
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        &:after {
                            content: "";
                            background-color: $color-orange-op9;
                            position: absolute;
                            width: 100%;
                            max-width: 18px;
                            height: 2px;
                            top: .9vw;
                            left: 0;
                            margin-top: .9vw;
                            opacity: 0;
                            transform-origin: left bottom;
                            transform: rotate(90deg);
                            -webkit-animation-duration: 1s;
                            animation-duration: 1s;
                            -webkit-animation-fill-mode: both;
                            animation-fill-mode: both;
                        }
                        &.active:after {
                            -webkit-animation-name: rotateInUpLeft;
                            animation-name: rotateInUpLeft;
                            opacity: 1;
                        }
                    }
                }
            }
            &.mob-menu-container {
                display: none;
            }
        }
        .soc { 
            color: $color-blue;
            position: absolute;
            top: 50%;
            width: 20px;
            height: 28px;
            margin-top: -14px;
            right: 5vw;
            display: block;
            opacity: 0;
            &:hover {
                color: $color-blue-op9;
            }
        }
        &.n-fixed {
            height: 70px; 
            background-color: $color-white-op9;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 3px;
            .logo {
                opacity: 1;
            }
            nav.main-menu-container ul li a {
                color: $color-blue;
                &:hover {
                    opacity: .9;
                    color: $color-orange-op9;
                }
            }
            .soc {
                opacity: 1;
            } 
        }
    }
    section {
        padding: 0;
        .logo-c {
            background-color: $color-white-op3;
            border-radius: 5px;
            position: absolute;
            width: 200px;
            left: 50vw;
            margin-left: -100px;
            text-align: center;
            top: 25%;
            z-index: 2;
        }
        &.full {
            padding: 0;
        }
        &#sc1 {
            @include background-vertical-to-bottom($startColor: $color-transp, $endColor: $color-l-grey);
            .container {
                transform: translate(0, 100px);
                .description {
                    h2 {
                        text-align: left;
                    }
                    p {
                        font-size: 1.4em;
                        line-height: 1.4em;
                    }
                }
                .about-img {
                    border-radius: 5%;
                    width: 100%;
                    max-width: 400px;
                    height: 100%;
                    max-height: 270px;
                    display: block;
                    overflow: hidden;
                    margin: 0 auto;
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        &#sc2 {
            text-align: center;
            .row {
                display: inline-block;
                h2 {
                    margin-bottom: 70px;
                    color: $color-white;
                }
                div {
                    float: left;
                    color: $color-white;
                    img {
                        width: 90%;
                        border-radius: 5%;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        &#sc3 {}
        &#sc4 {}
        &#sc5 {}
    }
    footer {
        position: relative;
        span {
            color: $color-white;
            margin-right: 5px;
        }
        .foo-nav {
            display: block;
            float: left;
            margin-top: 34px;
            li {
                float: left;
                margin-right: 20px;
                position: relative;
                &:after {
                    content:'|';
                    position: absolute;
                    top: 0;
                    right: -10px;
                    display: block;
                }
                &:last-child:after {
                    display: none;
                }
                a {
                    color: $color-blue;
                    transition: opacity .4s ease;
                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
        #f-key {
            font-size: 0;
            display: none;
        }
    }
    .owl-carousel {
        .owl-wrapper{
            display: none;
            position: relative;
            -webkit-transform: translate3d(0px, 0px, 0px);
        }
        .owl-wrapper-outer.autoHeight {
            -webkit-transition: height 500ms ease-in-out;
            -moz-transition: height 500ms ease-in-out;
            -ms-transition: height 500ms ease-in-out;
            -o-transition: height 500ms ease-in-out;
            transition: height 500ms ease-in-out;
        }
        .owl-wrapper,
        .owl-item {
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility:    hidden;
            -ms-backface-visibility:     hidden;
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
        }
        .owl-item {
            float: left;
            width: 100vw !important;
            z-index: 1;
            .item {
                background-position: 50% 25% !important;
                background-size: cover !important;
                width: 100vw !important;
                min-height: 100vh;
                &:after {
                    content:'';
                    z-index: 2;
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.5;
                    @include background-vertical-to-bottom($startColor: $color-blue, $endColor: $color-blue-op9);
                }
            }
        }
        .owl-nav {
            position: absolute;
            width: 100%;
            top: 50%;
            margin-top: -21px;
            color: $color-white;
            button {
                span {
                    position: absolute;
                    display: block;
                    width: 25px;
                    height: 42px;
                    font-size: 0;
                    transition: opacity .5s ease;
                    opacity: .5;
                    &:hover {
                        opacity: 1; 
                    }
                }
                &.owl-prev span {
                    background: url(../img/i/w-prev.png) center / cover no-repeat;
                    left: 5vw;
                }
                &.owl-next span {
                    background: url(../img/i/w-next.png) center / cover no-repeat;
                    right: 5vw;
                }
            }
        }
        .owl-dots {
            position: absolute;
            z-index: 999;
            right: 50%;
            margin-right: -55px;
            top: 90%;
            .owl-dot {
                display: block;
                width: 30px;
                height: 10px;
                border-radius: 2px;
                background-color: $color-white;
                border: $color-white solid 2px;
                float: left;
                margin-right: 10px;
                transition: opacity .5s ease;
                opacity: .5;
                &.active {
                    opacity: 1;
                    background-color: $color-grey;
                }
            }
        }
    }
}
@media only screen and (max-width: $breakpoint-tablet-l) {
    .smart img,
    .laptop img {
        width: 100%;
    }
}
