html, body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
}
p, li, span, i, u, button {
    font-family: $font-body;
    font-size: 1em;
}
.single {
    h1, h2, p {
        color: $color-grey;
    }
}
h1, h2, h3 {
    font-family: $font-heading;
    color: $color-grey;
    margin-bottom: 20px;
}
h1.h1-home {
    font-size: 50px;
    color: $color-white;
    position: absolute;
    width: 50vw;
    left: 50vw;
    margin-left: -25vw;
    text-align: center;
    top: 50%;
    z-index: 2;
}
h2 {
    font-size: 40px;
    letter-spacing: .2em;
    text-transform: uppercase;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 14px;
}
.menu a {
    color: $color-grey;
}
.bt404 {
    color: $color-orange;
    width: 100%;
    min-height: 55vh;
    display: inline-block;
}