@font-face {
font-family: "Roboto Regular";
src:url('./fonts/Roboto/Roboto-Regular.woff2') format('woff2'), 
    url("./fonts/Roboto/Roboto-Regular.woff") format("woff"), 
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Roboto Thin";
src:url('./fonts/Roboto/Roboto-Thin.woff2') format('woff2'), 
    url("./fonts/Roboto/Roboto-Thin.woff") format("woff"), 
    url("./fonts/Roboto/Roboto-Thin.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Roboto Light";
src:url('./fonts/Roboto/Roboto-Light.woff2') format('woff2'), 
    url("./fonts/Roboto/Roboto-Light.woff") format("woff"), 
    url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Roboto Bold";
src:url('./fonts/Roboto/Roboto-Bold.woff2') format('woff2'), 
    url("./fonts/Roboto/Roboto-Bold.woff") format("woff"), 
    url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
$font-heading: 'Roboto Bold';
$font-body: 'Roboto Regular';
$font-nav: 'Roboto Thin';
$font-btn: 'Roboto Light';

// Brand Colors
$color-green: #69c0ac;
$color-d-green: #65b9a7;
$color-blue: #142d5d;
$color-blue-op3: rgba(20,45,93,.3);
$color-blue-op9: rgba(20,45,93,.9);
$color-l-blue: #4789b8;
$color-white: #ffffff;
$color-white-op9: rgba(255,255,255,.9);
$color-white-op3: rgba(255,255,255,.3);
$color-pink: #dc4e7b;
$color-orange: #e63f12;
$color-orange-op3: rgba(230,63,18,.3);
$color-orange-op9: rgba(230,63,18,.9);
$color-black: #000000;
$color-black-op2: rgba(0,0,0,0.2);
$color-black-op5: rgba(0,0,0,0.2);
$color-black-op9: rgba(0,0,0,.9);
$color-grey:#575756;
$color-l-grey: #b2b2b2;
$color-transp: transparent;

// Breakpoints
$breakpoint-laptop: 1200px;
$breakpoint-tablet-l: 1120px;
$breakpoint-tablet-p: 800px;
$breakpoint-phone-l: 812px;
$breakpoint-phone-p: 550px;

// $primary-boxshadow: 0px 0px 1px 2px #333;